<div class="container">
    <h2>Edit Department</h2>


    <div class="form-row" *ngIf="showMsg">
        <div class="alert alert-{{type}} col-md-12" role="alert">
          {{msg}}
        </div>
      </div>



    <form #courseForms="ngForm" *ngIf="department">

        <div class="form-row">
            <div class="col-md-4">
                <label>DepartmentID:</label>
                <input type="number" id="DepartmentID" name="DepartmentID" placeholder="Enter The Department ID"
                    class="form-control" #departmentID [(ngModel)]="department.DepartmentID"/>
            </div>
            <div class="col-md-4">
                <label>Name:</label>
                <input type="text" id="Name" name="Name" placeholder="Enter The Name" class="form-control"
                    [(ngModel)]="department.Name"/>
            </div>
            <div class="col-md-4">
                <label>Budget:</label>
                <input type="number" id="Budget" name="Budget" placeholder="Enter The Budget" class="form-control"
                    [(ngModel)]="department.Budget" />
            </div>
            <div class="col-md-4">
                <label>StartDate:</label>
                <input type="date" id="StartDate" name="StartDate" placeholder="Enter The StartDate" class="form-control"
                    [(ngModel)]="department.StartDate" />
            </div>
            <div class="col-md-4">
                <label>InstructorID:</label>
                <!-- <input type="number" id="InstructorID" name="InstructorID" placeholder="Enter The Instructor ID" class="form-control"
                    [(ngModel)]="department.InstructorID" /> -->
                    <select class="form-control" id="InstructorID" name="InstructorID" [(ngModel)]="department.InstructorID">
                        <option *ngFor="let item of instructor" [value]="item.ID">{{item.LasName}} {{item.FirstMidName}}</option>
                    </select>
            </div>
        </div>

        <br>
        <div class="btn-group" role="group">
            <button class="btn btn-outline-primary btn-sm" (click)="edit()">Edit</button>
            <a class="btn btn-outline-primary btn-sm" [routerLink]="[ '/department-list']">Back </a>
        </div>

    </form>

</div>