<div class="container">
    <h2>Edit Course</h2>


    <div class="form-row" *ngIf="showMsg">
        <div class="alert alert-{{type}} col-md-12" role="alert">
          {{msg}}
        </div>
      </div>



    <form #courseForms="ngForm" *ngIf="course">

        <div class="form-row">
            <div class="col-md-4">
                <label>ID:</label>
                <input type="number" id="CourseID" name="CourseID" placeholder="Enter The Course ID"
                    class="form-control" #courseID [(ngModel)]="course.CourseID" readonly/>
            </div>
            <div class="col-md-4">
                <label>Title:</label>
                <input type="text" id="Title" name="Title" placeholder="Enter The title" class="form-control"
                    [(ngModel)]="course.Title"/>
            </div>
            <div class="col-md-4">
                <label>Credits:</label>
                <input type="number" id="Credits" name="Credits" placeholder="Enter The Credits" class="form-control"
                    [(ngModel)]="course.Credits" />
            </div>
        </div>

        <br>
        <div class="btn-group" role="group">
            <button class="btn btn-outline-primary btn-sm" (click)="edit()">Edit</button>
            <a class="btn btn-outline-primary btn-sm" [routerLink]="[ '/course-list']">Back </a>
        </div>

    </form>

</div>