<p>instructor-edit works!</p>
<div class="container">
    <h2>Edit Instructor</h2>


    <div class="form-row" *ngIf="showMsg">
        <div class="alert alert-{{type}} col-md-12" role="alert">
          {{msg}}
        </div>
      </div>



    <form #courseForms="ngForm" *ngIf="instructor">

        <div class="form-row">
            <div class="col-md-4">
                <label>ID:</label>
                <input type="number" id="ID" name="ID" placeholder="Enter The Instructor ID"
                    class="form-control" #ID [(ngModel)]="instructor.ID"/>
            </div>
            <div class="col-md-4">
                <label>LastName:</label>
                <input type="text" id="LastName" name="LastName" placeholder="Enter The LastName" class="form-control"
                    [(ngModel)]="instructor.LastName"/>
            </div>
            <div class="col-md-4">
                <label>FirstMidName:</label>
                <input type="text" id="FirstMidName" name="FirstMidName" placeholder="Enter The FirstMidName" class="form-control"
                    [(ngModel)]="instructor.FirstMidName"/>
            </div>
            <div class="col-md-4">
                <label>HireDate:</label>
                <input type="date" id="HireDate" name="HireDate" placeholder="Enter The HireDate" class="form-control"
                    [(ngModel)]="instructor.HireDate" />
            </div>
        </div>

        <br>
        <div class="btn-group" role="group">
            <button class="btn btn-outline-primary btn-sm" (click)="edit()">Edit</button>
            <a class="btn btn-outline-primary btn-sm" [routerLink]="[ '/instructor-list']">Back </a>
        </div>

    </form>

</div>