<p>student-delete works!</p>
<div class="container">
    <h2>Delete Instructor</h2>


    <div class="form-row" *ngIf="!showMsg">
        <div class="alert alert-danger col-md-12" role="alert">
            Are You Sure?
            <br>
            <div class="btn-group" role="group">
                <button class="btn btn-outline-danger btn-sm" (click)="delete()">Delete</button>
                <a class="btn btn-outline-danger btn-sm" [routerLink]="[ '/student-list']">Back </a>
            </div>
        </div>
    </div>



    <div class="form-row" *ngIf="showMsg">
        <div class="alert alert-{{type}} col-md-12" role="alert">
            {{msg}}
            <br>
            <a class="btn btn-outline-danger btn-sm" [routerLink]="[ '/student-list']">Back </a>
        </div>
    </div>



    <form #courseForms="ngForm" *ngIf="student">

        <div class="form-row">
            <div class="col-md-4">
                <label>ID:</label>
                <input type="number" id="ID" name="ID" placeholder="Enter The Student ID"
                    class="form-control" #ID [(ngModel)]="student.ID" readonly/>
            </div>
            <div class="col-md-4">
                <label>LastName:</label>
                <input type="text" id="LastName" name="LastName" placeholder="Enter The FullName" class="form-control"
                    [(ngModel)]="student.LastName"/>
            </div>
            <div class="col-md-4">
                <label>FirstMidName:</label>
                <input type="text" id="FirstMidName" name="FirstMidName" placeholder="Enter The FullName" class="form-control"
                    [(ngModel)]="student.FirstMidName"/>
            </div>
            <div class="col-md-4">
                <label>EnrollmentDate:</label>
                <input type="date" id="EnrollmentDate" name="EnrollmentDate" placeholder="Enter The EnrollmentDate" class="form-control"
                    [(ngModel)]="student.EnrollmentDate" />
            </div>
        </div>
    </form>

</div>